<div class="divContent">
  <p *ngIf="!currentBackendUser">
    You are not logged in. Please log in to continue.
  </p>
  <div *ngIf="currentBackendUser">
    <h1>Welcome {{ currentBackendUser?.name }},</h1>
    <p>
      Your current role is
      <strong>{{
        currentBackendUser ? (currentBackendUser?.role)[0] : "No roles"
      }}</strong
      >. Now let's get started!
    </p>
    <div>
      <mat-button-toggle-group class="btnToggle">
        <mat-button-toggle class="btnbtn">
          <img src="../../../assets/docking.png" class="btnimg" />Docking
          Stations</mat-button-toggle
        >
        <mat-button-toggle class="btnbtn">
          <img
            src="../../../assets/bike.png"
            class="btnimg"
          />Bikes</mat-button-toggle
        >

        <mat-button-toggle class="btnbtn">
          <img
            src="../../../assets/repair.png"
            class="btnimg"
          />Repairs</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
</div>
