<div class="contentMargin">
  <p *ngIf="!currentBackendUser">
    You are not logged in. Please log in to continue.
  </p>
  <div *ngIf="currentBackendUser">
    <h1>Welcome {{ currentBackendUser?.name }},</h1>
    <p>
      Your current role is
      <strong>{{
        currentBackendUser ? (currentBackendUser?.role)[0] : "No roles"
      }}</strong
      >. Now let's get started!
    </p>
    <div style="max-width: 600px;">
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>
          <mat-card>
            <button class="btnImg" (click)="goDocking()">
              <img src="../../../assets/docking.png" class="img" />
            </button>
            <mat-card-content>
              <p>
                Docking Stations
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <button class="btnImg" (click)="goBikes()">
              <img src="../../../assets/bike.png" class="img" />
            </button>
            <mat-card-content>
              <p>
                Bikes
              </p>
            </mat-card-content></mat-card
          >
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card>
            <button class="btnImg" (click)="goRepairs()">
              <img src="../../../assets/repair.png" class="img" />
            </button>
            <mat-card-content>
              <p>
                Repairs
              </p>
            </mat-card-content></mat-card
          >
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
