@import "./assets/dreambike.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$background-color: silver;
$background-color-dark: rgb(70, 70, 70);
$background-color-light: rgb(170, 169, 169);
$gold: rgb(215, 194, 120);
$backgroundHover-color: rgb(215, 194, 120);
$border: 2px solid $background-color-dark;
$border-radius: 0.5rem !default;
$box-shadow: 0 1px #666;
$alert: rgb(153, 1, 1);
$active: green;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;

  /* Styling for background - class="bg" */
  .bg {
    background-color: $background-color;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Styling for horizontal menu - class="horizontalMenu" */
  .horizontalMenu {
    color: black;
    width: 100%;
    min-width: 805px;
  }

  .navigation-items {
    list-style: none;
    margin: 0;
    margin-right: 0;
    cursor: pointer;
  }

  /* Styling for vertical menu - class="verticalMenu" */
  .verticalMenu {
    background-color: $background-color-light;
    position: absolute;
    top: 64px;
    bottom: 0;
    border-left: 15px solid black;
    width: 200px;
    float: left;
    height: calc(100%-64px);
  }

  .verticalMenu a {
    background-color: $background-color-light;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }

  .verticalMenu a:hover {
    background-color: $backgroundHover-color;
    color: black;
  }

  .verticalMenu a.active {
    background-color: $active;
    color: white;
  }

  .mat-checkbox-layout {
    vertical-align: top;
    margin-top: 2px;
  }

  .mat-checkbox .mat-checkbox-ripple {
    height: 0px;
    width: 0px;
  }

  /* button voor icons*/
  .buttonIcon {
    background-color: transparent;
    margin-left: -10px;
    margin-right: -10px;
    border: 0px;
  }

  .buttonIcon:hover {
    background-color: transparent;
    border: 0px;
  }

  .buttonIcon:active {
    background-color: transparent;
    border: 0px;
  }

  /* Styling for tabels with scroll - class="table-scroll" */
  .mat-cell,
  .mat-header-cell {
    overflow: hidden;
    word-wrap: break-word;
  }

  .table-scroll {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
    empty-cells: show;
    border-collapse: separate;

    /* Decoration */
    border-spacing: 0;
    border: 1px solid black;
  }

  .table-scroll thead {
    display: table-header-group;
    vertical-align: middle;
    background-color: black;
    color: $backgroundHover-color;
    border-left: 3px solid black;
  }

  .table-scroll tbody {
    /* Position */
    display: table-row-group;
    vertical-align: middle;
    overflow-y: scroll;
    /* Decoration */
    background-color: $background-color;
    border-left: 3px solid black;
  }

  .table-scroll tr {
    display: table-row;
    vertical-align: inherit;
    padding: 3px;
    cursor: default;
  }

  .table-scroll td {
    display: table-cell;
    vertical-align: inherit;
  }

  .table-scroll tr th {
    display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;

    flex-basis: 100%;
    vertical-align: middle;
    padding: -1px;
  }

  .table-scroll thead tr {
    margin-right: 0px;
  }

  /* Other options */
  .table-scroll tbody tr:nth-child(2n) {
    background-color: $background-color-light;
  }

  .table-scroll thead tr {
    margin-right: 20px;
  }

  .emptyLine {
    min-height: 15px;
  }

  .emptyLine :hover {
    min-height: 15px;
    background-color: $background-color-light !important;
    cursor: auto !important;
  }

  .body-half-screen {
    max-height: 75%;
  }

  /* Styling for all the buttons - class="btn" */
  .btn {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border: $border;
    border-radius: 5px;
    box-shadow: $box-shadow;
  }

  .btn:hover {
    background-color: $backgroundHover-color;
  }

  .btn:active {
    color: white;
    background-color: $active;
    box-shadow: $box-shadow;
    transform: translateY(2px);
  }

  .btnImg {
    border-radius: 8px;
    background-color: $background-color;
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 3px !important;
  }

  .btnImg:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    background-color: $background-color-light;
  }

  .btnImg:active {
    background-color: $active;
    box-shadow: $box-shadow;
    transform: translateY(2px);
  }

  .img {
    width: 150px;
    height: 150px;
    margin-left: -5px;
  }

  /* Styling for google map */
  agm-map {
    height: 100%;
    display: block;
    border: 1px solid black;
    position: relative;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  .form-control {
    width: 400px;
    height: 25px;
    contain: none;
    align-self: start;
    background-color: inherit;
    border: 1px solid black;
    box-shadow: $box-shadow;
    padding-left: 2px;
  }

  .form-control:focus {
    width: 400px;
    height: 25px;
    contain: none;
    align-self: start;
    background-color: rgba($active, 0.4);
    outline: none;
    border: 1px solid black;
    box-shadow: $box-shadow;
    padding-left: 2px;
  }

  .wrapper {
    /* Height and width fallback for older browsers. */
    height: calc(100% -196px);
    width: calc(100% - 245px);

    /* Set the height to match that of the viewport. */
    height: calc(100vh - 196px);

    /* Set the width to match that of the viewport. */
    width: calc(100vw - 245px);
    overflow: hidden; /* will contain if #first is longer than #second */
  }

  .first {
    width: calc(100% - 580px);
    width: calc(100vw - 580px);
    height: calc(100% - 154px);
    height: calc(100vh - 154px);
    float: left;
  }

  .second {
    width: 315px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }

  /* All other styles: */
  .content {
    position: absolute;
    margin-left: 215px;
    width: calc(100vh+215px);
    background-color: $background-color;
  }

  /* mat- icon kleiner dan normaal: */
  .mat-icon {
    transform: scale(0.75);
  }

  .divContent {
    overflow: hidden !important;
    width: calc(100% - 235px);
    width: calc(100vw - 235px);
  }

  .mat-tab-body-wrapper {
    margin-left: 10px;
  }

  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    margin-right: 10px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }

  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }

  .alert {
    font-size: small;
    color: $alert;
  }

  .mat-grid-tile .mat-grid-tile-footer {
    display: grid;
  }

  // buttons on home page:
  .mat-card {
    font-size: 15px;
    line-height: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: $background-color;
  }

  .mat-card:hover {
    background-color: $background-color !important;
  }

  .mat-card-content {
    margin-top: 5px;
    text-align: center;
  }

  /* No more default outline that chrome always uses */
  *:focus {
    outline: none;
  }

  // toggle buttons:
  .mat-button-toggle-group {
    margin-top: 10px;
  }

  .mat-button-toggle-button {
    max-height: 28px;
  }

  .mat-button-toggle-label-content {
    line-height: 28px !important;
  }
}

.mat.tab.label :hover {
  color: black;
  background-color: $backgroundHover-color;
}

.mat-tab-label-container {
  max-height: 28px;
}

.mat-tab-labels {
  max-height: 28px;
}

.mat-tab-label {
  max-height: 28px;
  border-right: 1px solid black;
}

.mat-tab-label.mat-tab-label-active {
  color: white;
  background-color: $active;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  max-width: 30px !important;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  max-height: 28px !important;
  padding: 3px !important;
  margin: 3px !important;
  font-size: 14px;
}
