@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/grey.css";

button.-primary {
  background-color: rgb(215, 194, 120);
  box-shadow: black;
  font-size: 18;
  border: 2px solid black;
  border-color: black;
}

.actionbar {
  background-color: black;
  color: rgb(215, 194, 120);
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.page .input-field {
  margin-bottom: 25;
}
.input-field .input {
  color: orangered;
  background-color: lightyellow;
  font-size: 18;
  placeholder-color: rgb(215, 194, 120);
}
.input:disabled {
  background-color: white;
  opacity: 0.5;
}
